Call Centre/BitAuto.ISDC.CC2012.WebService/Web References/YTGActivityService/YTGActivityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertOrUpdateYTGActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:YTGActivityInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="YTGActivityInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivityID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActivityName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SignBeginTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SignEndTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ActiveBeginTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ActiveEndTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarSerials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdateTime" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertOrUpdateYTGActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertOrUpdateYTGActivityResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EndYTGActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="activityid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndYTGActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EndYTGActivityResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertOrUpdateYTGActivitySoapIn">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateYTGActivity" />
  </wsdl:message>
  <wsdl:message name="InsertOrUpdateYTGActivitySoapOut">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateYTGActivityResponse" />
  </wsdl:message>
  <wsdl:message name="EndYTGActivitySoapIn">
    <wsdl:part name="parameters" element="tns:EndYTGActivity" />
  </wsdl:message>
  <wsdl:message name="EndYTGActivitySoapOut">
    <wsdl:part name="parameters" element="tns:EndYTGActivityResponse" />
  </wsdl:message>
  <wsdl:portType name="YTGActivityServiceSoap">
    <wsdl:operation name="InsertOrUpdateYTGActivity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">新建或者修改易团购活动</wsdl:documentation>
      <wsdl:input message="tns:InsertOrUpdateYTGActivitySoapIn" />
      <wsdl:output message="tns:InsertOrUpdateYTGActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EndYTGActivity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">结束易团购活动</wsdl:documentation>
      <wsdl:input message="tns:EndYTGActivitySoapIn" />
      <wsdl:output message="tns:EndYTGActivitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YTGActivityServiceSoap" type="tns:YTGActivityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertOrUpdateYTGActivity">
      <soap:operation soapAction="http://tempuri.org/InsertOrUpdateYTGActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndYTGActivity">
      <soap:operation soapAction="http://tempuri.org/EndYTGActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YTGActivityServiceSoap12" type="tns:YTGActivityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertOrUpdateYTGActivity">
      <soap12:operation soapAction="http://tempuri.org/InsertOrUpdateYTGActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndYTGActivity">
      <soap12:operation soapAction="http://tempuri.org/EndYTGActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YTGActivityService">
    <wsdl:port name="YTGActivityServiceSoap" binding="tns:YTGActivityServiceSoap">
      <soap:address location="http://ncc.sys1.bitauto.com/WebServices/YTGActivityService.asmx" />
    </wsdl:port>
    <wsdl:port name="YTGActivityServiceSoap12" binding="tns:YTGActivityServiceSoap12">
      <soap12:address location="http://ncc.sys1.bitauto.com/WebServices/YTGActivityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>