Call Centre/BitAuto.ISDC.CC2012.WebService/Service References/YiJiKe.ServiceReference/YJKDemandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckAuthority">
        <s:complexType />
      </s:element>
      <s:element name="CheckAuthorityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckAuthorityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="YJKDemandSoapHeader" type="tns:YJKDemandSoapHeader" />
      <s:complexType name="YJKDemandSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecretKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="PushDemand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PushDemandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PushDemandResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemandInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemandInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDemandInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeadsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeadsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddLeadsInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemandCallLeads">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDemandID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBatch" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemandCallLeadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDemandCallLeadsResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckAuthoritySoapIn">
    <wsdl:part name="parameters" element="tns:CheckAuthority" />
  </wsdl:message>
  <wsdl:message name="CheckAuthoritySoapOut">
    <wsdl:part name="parameters" element="tns:CheckAuthorityResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAuthorityYJKDemandSoapHeader">
    <wsdl:part name="YJKDemandSoapHeader" element="tns:YJKDemandSoapHeader" />
  </wsdl:message>
  <wsdl:message name="PushDemandSoapIn">
    <wsdl:part name="parameters" element="tns:PushDemand" />
  </wsdl:message>
  <wsdl:message name="PushDemandSoapOut">
    <wsdl:part name="parameters" element="tns:PushDemandResponse" />
  </wsdl:message>
  <wsdl:message name="PushDemandYJKDemandSoapHeader">
    <wsdl:part name="YJKDemandSoapHeader" element="tns:YJKDemandSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetDemandInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDemandInfo" />
  </wsdl:message>
  <wsdl:message name="GetDemandInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDemandInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDemandInfoYJKDemandSoapHeader">
    <wsdl:part name="YJKDemandSoapHeader" element="tns:YJKDemandSoapHeader" />
  </wsdl:message>
  <wsdl:message name="AddLeadsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddLeadsInfo" />
  </wsdl:message>
  <wsdl:message name="AddLeadsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddLeadsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddLeadsInfoYJKDemandSoapHeader">
    <wsdl:part name="YJKDemandSoapHeader" element="tns:YJKDemandSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetDemandCallLeadsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDemandCallLeads" />
  </wsdl:message>
  <wsdl:message name="GetDemandCallLeadsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDemandCallLeadsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDemandCallLeadsYJKDemandSoapHeader">
    <wsdl:part name="YJKDemandSoapHeader" element="tns:YJKDemandSoapHeader" />
  </wsdl:message>
  <wsdl:message name="CheckAuthorityHttpGetIn" />
  <wsdl:message name="CheckAuthorityHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="PushDemandHttpGetIn">
    <wsdl:part name="guid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PushDemandHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDemandInfoHttpGetIn">
    <wsdl:part name="guid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDemandInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddLeadsInfoHttpGetIn">
    <wsdl:part name="strXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddLeadsInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDemandCallLeadsHttpGetIn">
    <wsdl:part name="strDemandID" type="s:string" />
    <wsdl:part name="iBatch" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDemandCallLeadsHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="CheckAuthorityHttpPostIn" />
  <wsdl:message name="CheckAuthorityHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="PushDemandHttpPostIn">
    <wsdl:part name="guid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PushDemandHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDemandInfoHttpPostIn">
    <wsdl:part name="guid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDemandInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddLeadsInfoHttpPostIn">
    <wsdl:part name="strXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddLeadsInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDemandCallLeadsHttpPostIn">
    <wsdl:part name="strDemandID" type="s:string" />
    <wsdl:part name="iBatch" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDemandCallLeadsHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:portType name="YJKDemandServiceSoap">
    <wsdl:operation name="CheckAuthority">
      <wsdl:input message="tns:CheckAuthoritySoapIn" />
      <wsdl:output message="tns:CheckAuthoritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PushDemand">
      <wsdl:input message="tns:PushDemandSoapIn" />
      <wsdl:output message="tns:PushDemandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandInfo">
      <wsdl:input message="tns:GetDemandInfoSoapIn" />
      <wsdl:output message="tns:GetDemandInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLeadsInfo">
      <wsdl:input message="tns:AddLeadsInfoSoapIn" />
      <wsdl:output message="tns:AddLeadsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandCallLeads">
      <wsdl:input message="tns:GetDemandCallLeadsSoapIn" />
      <wsdl:output message="tns:GetDemandCallLeadsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="YJKDemandServiceHttpGet">
    <wsdl:operation name="CheckAuthority">
      <wsdl:input message="tns:CheckAuthorityHttpGetIn" />
      <wsdl:output message="tns:CheckAuthorityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PushDemand">
      <wsdl:input message="tns:PushDemandHttpGetIn" />
      <wsdl:output message="tns:PushDemandHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandInfo">
      <wsdl:input message="tns:GetDemandInfoHttpGetIn" />
      <wsdl:output message="tns:GetDemandInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLeadsInfo">
      <wsdl:input message="tns:AddLeadsInfoHttpGetIn" />
      <wsdl:output message="tns:AddLeadsInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandCallLeads">
      <wsdl:input message="tns:GetDemandCallLeadsHttpGetIn" />
      <wsdl:output message="tns:GetDemandCallLeadsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="YJKDemandServiceHttpPost">
    <wsdl:operation name="CheckAuthority">
      <wsdl:input message="tns:CheckAuthorityHttpPostIn" />
      <wsdl:output message="tns:CheckAuthorityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PushDemand">
      <wsdl:input message="tns:PushDemandHttpPostIn" />
      <wsdl:output message="tns:PushDemandHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandInfo">
      <wsdl:input message="tns:GetDemandInfoHttpPostIn" />
      <wsdl:output message="tns:GetDemandInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLeadsInfo">
      <wsdl:input message="tns:AddLeadsInfoHttpPostIn" />
      <wsdl:output message="tns:AddLeadsInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandCallLeads">
      <wsdl:input message="tns:GetDemandCallLeadsHttpPostIn" />
      <wsdl:output message="tns:GetDemandCallLeadsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YJKDemandServiceSoap" type="tns:YJKDemandServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAuthority">
      <soap:operation soapAction="http://tempuri.org/CheckAuthority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckAuthorityYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushDemand">
      <soap:operation soapAction="http://tempuri.org/PushDemand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PushDemandYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandInfo">
      <soap:operation soapAction="http://tempuri.org/GetDemandInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDemandInfoYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeadsInfo">
      <soap:operation soapAction="http://tempuri.org/AddLeadsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddLeadsInfoYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandCallLeads">
      <soap:operation soapAction="http://tempuri.org/GetDemandCallLeads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDemandCallLeadsYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YJKDemandServiceSoap12" type="tns:YJKDemandServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAuthority">
      <soap12:operation soapAction="http://tempuri.org/CheckAuthority" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckAuthorityYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushDemand">
      <soap12:operation soapAction="http://tempuri.org/PushDemand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PushDemandYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandInfo">
      <soap12:operation soapAction="http://tempuri.org/GetDemandInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDemandInfoYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeadsInfo">
      <soap12:operation soapAction="http://tempuri.org/AddLeadsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddLeadsInfoYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandCallLeads">
      <soap12:operation soapAction="http://tempuri.org/GetDemandCallLeads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDemandCallLeadsYJKDemandSoapHeader" part="YJKDemandSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YJKDemandServiceHttpGet" type="tns:YJKDemandServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckAuthority">
      <http:operation location="/CheckAuthority" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushDemand">
      <http:operation location="/PushDemand" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandInfo">
      <http:operation location="/GetDemandInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeadsInfo">
      <http:operation location="/AddLeadsInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandCallLeads">
      <http:operation location="/GetDemandCallLeads" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YJKDemandServiceHttpPost" type="tns:YJKDemandServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckAuthority">
      <http:operation location="/CheckAuthority" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushDemand">
      <http:operation location="/PushDemand" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandInfo">
      <http:operation location="/GetDemandInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeadsInfo">
      <http:operation location="/AddLeadsInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandCallLeads">
      <http:operation location="/GetDemandCallLeads" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YJKDemandService">
    <wsdl:port name="YJKDemandServiceSoap" binding="tns:YJKDemandServiceSoap">
      <soap:address location="http://wp2013.sys1.bitauto.com/WebService/YJKDemandService.asmx" />
    </wsdl:port>
    <wsdl:port name="YJKDemandServiceSoap12" binding="tns:YJKDemandServiceSoap12">
      <soap12:address location="http://wp2013.sys1.bitauto.com/WebService/YJKDemandService.asmx" />
    </wsdl:port>
    <wsdl:port name="YJKDemandServiceHttpGet" binding="tns:YJKDemandServiceHttpGet">
      <http:address location="http://wp2013.sys1.bitauto.com/WebService/YJKDemandService.asmx" />
    </wsdl:port>
    <wsdl:port name="YJKDemandServiceHttpPost" binding="tns:YJKDemandServiceHttpPost">
      <http:address location="http://wp2013.sys1.bitauto.com/WebService/YJKDemandService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>