Call Centre/BitAuto.ISDC.CC2012.Web/Service References/YPSuperLoginService/SuperLoginService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.easypass.cn/das/inner/SuperLoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BitAuto.EP.DAS.BLL.Model" />
  <xs:element name="GetAccessToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DasAccountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BitAuto.EP.DAS.BLL.Model" minOccurs="0" name="GetAccessTokenResult" nillable="true" type="q1:OauthAccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenInType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DasAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenInTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BitAuto.EP.DAS.BLL.Model" minOccurs="0" name="GetAccessTokenInTypeResult" nillable="true" type="q2:OauthAccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenInTypeByDealerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealerId" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenInTypeByDealerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BitAuto.EP.DAS.BLL.Model" minOccurs="0" name="GetAccessTokenInTypeByDealerIdResult" nillable="true" type="q3:OauthAccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>