Call Centre/BitAuto.ISDC.CC2012.WebService/Web References/IMtc.UtilsService/Utils.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCCWorkOrder2IM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="imtype" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCCWorkOrder2IMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errormsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCCWorkOrder2IMHaveKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="imtype" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCCWorkOrder2IMHaveKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errormsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCCWorkOrder2IMSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCCWorkOrder2IM" />
  </wsdl:message>
  <wsdl:message name="UpdateCCWorkOrder2IMSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCCWorkOrder2IMResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCCWorkOrder2IMHaveKeySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCCWorkOrder2IMHaveKey" />
  </wsdl:message>
  <wsdl:message name="UpdateCCWorkOrder2IMHaveKeySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCCWorkOrder2IMHaveKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="UtilsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCCWorkOrder2IM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据会话ID更新工单ID</wsdl:documentation>
      <wsdl:input message="tns:UpdateCCWorkOrder2IMSoapIn" />
      <wsdl:output message="tns:UpdateCCWorkOrder2IMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCCWorkOrder2IMHaveKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据会话ID更新工单ID</wsdl:documentation>
      <wsdl:input message="tns:UpdateCCWorkOrder2IMHaveKeySoapIn" />
      <wsdl:output message="tns:UpdateCCWorkOrder2IMHaveKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtilsSoap" type="tns:UtilsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCCWorkOrder2IM">
      <soap:operation soapAction="http://tempuri.org/UpdateCCWorkOrder2IM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCCWorkOrder2IMHaveKey">
      <soap:operation soapAction="http://tempuri.org/UpdateCCWorkOrder2IMHaveKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UtilsSoap12" type="tns:UtilsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCCWorkOrder2IM">
      <soap12:operation soapAction="http://tempuri.org/UpdateCCWorkOrder2IM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCCWorkOrder2IMHaveKey">
      <soap12:operation soapAction="http://tempuri.org/UpdateCCWorkOrder2IMHaveKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Utils">
    <wsdl:port name="UtilsSoap" binding="tns:UtilsSoap">
      <soap:address location="http://imtc.sys1.bitauto.com/WebService/Utils.asmx" />
    </wsdl:port>
    <wsdl:port name="UtilsSoap12" binding="tns:UtilsSoap12">
      <soap12:address location="http://imtc.sys1.bitauto.com/WebService/Utils.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>