Call Centre/BitAuto.ISDC.CC2012.WebService/Web References/Easypass.sas.api/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.bitauto.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.bitauto.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.bitauto.com/">
      <s:element name="GetTempToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ServerParas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServerParas">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AppID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timespan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTempTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTempTokenResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTempTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetTempToken" />
  </wsdl:message>
  <wsdl:message name="GetTempTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTempTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthServiceSoap">
    <wsdl:operation name="GetTempToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取临时口令Token</wsdl:documentation>
      <wsdl:input message="tns:GetTempTokenSoapIn" />
      <wsdl:output message="tns:GetTempTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthServiceSoap" type="tns:AuthServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTempToken">
      <soap:operation soapAction="http://www.bitauto.com/GetTempToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthServiceSoap12" type="tns:AuthServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTempToken">
      <soap12:operation soapAction="http://www.bitauto.com/GetTempToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="AuthServiceSoap" binding="tns:AuthServiceSoap">
      <soap:address location="http://api.sas.easypass.cn/fanxian/AuthService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthServiceSoap12" binding="tns:AuthServiceSoap12">
      <soap12:address location="http://api.sas.easypass.cn/fanxian/AuthService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>