Call Centre/BitAuto.ISDC.CC2012.WebService/Web References/DictionaryDataCacheService/DictionaryDataCacheService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ResetDictionaryDataCache">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Verifycode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetDictionaryDataCacheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResetDictionaryDataCacheResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ResetDictionaryDataCacheSoapIn">
    <wsdl:part name="parameters" element="tns:ResetDictionaryDataCache" />
  </wsdl:message>
  <wsdl:message name="ResetDictionaryDataCacheSoapOut">
    <wsdl:part name="parameters" element="tns:ResetDictionaryDataCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="DictionaryDataCacheServiceSoap">
    <wsdl:operation name="ResetDictionaryDataCache">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">重置缓存数据</wsdl:documentation>
      <wsdl:input message="tns:ResetDictionaryDataCacheSoapIn" />
      <wsdl:output message="tns:ResetDictionaryDataCacheSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DictionaryDataCacheServiceSoap" type="tns:DictionaryDataCacheServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ResetDictionaryDataCache">
      <soap:operation soapAction="http://tempuri.org/ResetDictionaryDataCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DictionaryDataCacheServiceSoap12" type="tns:DictionaryDataCacheServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ResetDictionaryDataCache">
      <soap12:operation soapAction="http://tempuri.org/ResetDictionaryDataCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictionaryDataCacheService">
    <wsdl:port name="DictionaryDataCacheServiceSoap" binding="tns:DictionaryDataCacheServiceSoap">
      <soap:address location="http://ncc.sys1.bitauto.com/WebServices/DictionaryDataCacheService.asmx" />
    </wsdl:port>
    <wsdl:port name="DictionaryDataCacheServiceSoap12" binding="tns:DictionaryDataCacheServiceSoap12">
      <soap12:address location="http://ncc.sys1.bitauto.com/WebServices/DictionaryDataCacheService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>