Call Centre/BitAuto.ISDC.CC2012.WebAPI/Service References/AutoCallService/ACProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ACProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_Services_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8103/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8103/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IACProvider_HollyGetOneData_InputMessage">
    <wsdl:part name="parameters" element="tns:HollyGetOneData" />
  </wsdl:message>
  <wsdl:message name="IACProvider_HollyGetOneData_OutputMessage">
    <wsdl:part name="parameters" element="tns:HollyGetOneDataResponse" />
  </wsdl:message>
  <wsdl:message name="IACProvider_HollyFinishCall_InputMessage">
    <wsdl:part name="parameters" element="tns:HollyFinishCall" />
  </wsdl:message>
  <wsdl:message name="IACProvider_HollyFinishCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:HollyFinishCallResponse" />
  </wsdl:message>
  <wsdl:message name="IACProvider_HaltOrStopProject_InputMessage">
    <wsdl:part name="parameters" element="tns:HaltOrStopProject" />
  </wsdl:message>
  <wsdl:message name="IACProvider_HaltOrStopProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:HaltOrStopProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IACProvider">
    <wsdl:operation name="HollyGetOneData">
      <wsdl:input wsaw:Action="http://tempuri.org/IACProvider/HollyGetOneData" message="tns:IACProvider_HollyGetOneData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACProvider/HollyGetOneDataResponse" message="tns:IACProvider_HollyGetOneData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HollyFinishCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IACProvider/HollyFinishCall" message="tns:IACProvider_HollyFinishCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACProvider/HollyFinishCallResponse" message="tns:IACProvider_HollyFinishCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HaltOrStopProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IACProvider/HaltOrStopProject" message="tns:IACProvider_HaltOrStopProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACProvider/HaltOrStopProjectResponse" message="tns:IACProvider_HaltOrStopProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_Services" type="tns:IACProvider">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_Services_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="HollyGetOneData">
      <soap12:operation soapAction="http://tempuri.org/IACProvider/HollyGetOneData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HollyFinishCall">
      <soap12:operation soapAction="http://tempuri.org/IACProvider/HollyFinishCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaltOrStopProject">
      <soap12:operation soapAction="http://tempuri.org/IACProvider/HaltOrStopProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ACProvider">
    <wsdl:port name="NetNamedPipeBinding_Services" binding="tns:NetNamedPipeBinding_Services">
      <soap12:address location="net.pipe://127.0.0.1/netpipeAutoCall" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://127.0.0.1/netpipeAutoCall</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>