Call Centre/BitAuto.ISDC.CC2012.WebService/Web References/SYS.UserInfoService/userinfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckModuleRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="moduleId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckModuleRightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckModuleRightsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdByCookies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cookies" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdByCookiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserIdByCookiesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckModuleRightsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckModuleRights" />
  </wsdl:message>
  <wsdl:message name="CheckModuleRightsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckModuleRightsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIdByCookiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserIdByCookies" />
  </wsdl:message>
  <wsdl:message name="GetUserIdByCookiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIdByCookiesResponse" />
  </wsdl:message>
  <wsdl:portType name="RightsServiceSoap">
    <wsdl:operation name="CheckModuleRights">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证模块权限</wsdl:documentation>
      <wsdl:input message="tns:CheckModuleRightsSoapIn" />
      <wsdl:output message="tns:CheckModuleRightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByCookies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户ID</wsdl:documentation>
      <wsdl:input message="tns:GetUserIdByCookiesSoapIn" />
      <wsdl:output message="tns:GetUserIdByCookiesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RightsServiceSoap" type="tns:RightsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckModuleRights">
      <soap:operation soapAction="http://tempuri.org/CheckModuleRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByCookies">
      <soap:operation soapAction="http://tempuri.org/GetUserIdByCookies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RightsServiceSoap12" type="tns:RightsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckModuleRights">
      <soap12:operation soapAction="http://tempuri.org/CheckModuleRights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByCookies">
      <soap12:operation soapAction="http://tempuri.org/GetUserIdByCookies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RightsService">
    <wsdl:port name="RightsServiceSoap" binding="tns:RightsServiceSoap">
      <soap:address location="http://sys1.bitauto.com/service/userinfo.asmx" />
    </wsdl:port>
    <wsdl:port name="RightsServiceSoap12" binding="tns:RightsServiceSoap12">
      <soap12:address location="http://sys1.bitauto.com/service/userinfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>