Call Centre/BitAuto.ISDC.CC2012.WebService/Web References/MarketService/Recommend.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetDataXml1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataXml1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataXml1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReSoapHeader" type="tns:ReSoapHeader" />
      <s:complexType name="ReSoapHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TokenKey" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorizeCode1" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetDataXml2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BrandID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ProID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataXml2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataXml2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataXml3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BrandID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ProID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ActivityName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataXml3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataXml3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataXml1SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataXml1" />
  </wsdl:message>
  <wsdl:message name="GetDataXml1SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataXml1Response" />
  </wsdl:message>
  <wsdl:message name="GetDataXml1ReSoapHeader">
    <wsdl:part name="ReSoapHeader" element="tns:ReSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetDataXml2SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataXml2" />
  </wsdl:message>
  <wsdl:message name="GetDataXml2SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataXml2Response" />
  </wsdl:message>
  <wsdl:message name="GetDataXml2ReSoapHeader">
    <wsdl:part name="ReSoapHeader" element="tns:ReSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetDataXml3SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataXml3" />
  </wsdl:message>
  <wsdl:message name="GetDataXml3SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataXml3Response" />
  </wsdl:message>
  <wsdl:message name="GetDataXml3ReSoapHeader">
    <wsdl:part name="ReSoapHeader" element="tns:ReSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="RecommendSoap">
    <wsdl:operation name="GetDataXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">呼叫中心系统推荐活动接口:参数guid</wsdl:documentation>
      <wsdl:input name="GetDataXml1" message="tns:GetDataXml1SoapIn" />
      <wsdl:output name="GetDataXml1" message="tns:GetDataXml1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">呼叫中心系统推荐活动接口:参数BrandID,ProID</wsdl:documentation>
      <wsdl:input name="GetDataXml2" message="tns:GetDataXml2SoapIn" />
      <wsdl:output name="GetDataXml2" message="tns:GetDataXml2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">呼叫中心系统推荐活动接口:参数BrandID,ProID,ActivityName</wsdl:documentation>
      <wsdl:input name="GetDataXml3" message="tns:GetDataXml3SoapIn" />
      <wsdl:output name="GetDataXml3" message="tns:GetDataXml3SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecommendSoap" type="tns:RecommendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataXml">
      <soap:operation soapAction="http://tempuri.org/GetDataXml1" style="document" />
      <wsdl:input name="GetDataXml1">
        <soap:body use="literal" />
        <soap:header message="tns:GetDataXml1ReSoapHeader" part="ReSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataXml1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataXml">
      <soap:operation soapAction="http://tempuri.org/GetDataXml2" style="document" />
      <wsdl:input name="GetDataXml2">
        <soap:body use="literal" />
        <soap:header message="tns:GetDataXml2ReSoapHeader" part="ReSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataXml2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataXml">
      <soap:operation soapAction="http://tempuri.org/GetDataXml3" style="document" />
      <wsdl:input name="GetDataXml3">
        <soap:body use="literal" />
        <soap:header message="tns:GetDataXml3ReSoapHeader" part="ReSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataXml3">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecommendSoap12" type="tns:RecommendSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataXml">
      <soap12:operation soapAction="http://tempuri.org/GetDataXml1" style="document" />
      <wsdl:input name="GetDataXml1">
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDataXml1ReSoapHeader" part="ReSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataXml1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataXml">
      <soap12:operation soapAction="http://tempuri.org/GetDataXml2" style="document" />
      <wsdl:input name="GetDataXml2">
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDataXml2ReSoapHeader" part="ReSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataXml2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataXml">
      <soap12:operation soapAction="http://tempuri.org/GetDataXml3" style="document" />
      <wsdl:input name="GetDataXml3">
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDataXml3ReSoapHeader" part="ReSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataXml3">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Recommend">
    <wsdl:port name="RecommendSoap" binding="tns:RecommendSoap">
      <soap:address location="http://api.market.bitauto.com/GetData/Recommend.asmx" />
    </wsdl:port>
    <wsdl:port name="RecommendSoap12" binding="tns:RecommendSoap12">
      <soap12:address location="http://api.market.bitauto.com/GetData/Recommend.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>