Call Centre/BitAuto.ISDC.CC2012.CarolFormsApp/RCConsole/Service References/VCLogService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.voicecodes.com/" elementFormDefault="qualified" targetNamespace="http://www.voicecodes.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetVoiceIPByVoiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="voiceid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoiceIPByVoiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVoiceIPByVoiceIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoiceCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="voiceid" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoiceCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVoiceCountResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="voiceid" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelCountVoiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="voiceid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelCountVoiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChannelCountVoiceIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="extention" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRefIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileHttpPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileHttpPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileHttpPathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecordFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecordFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRecordFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordArchiveStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordArchiveStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecordArchiveStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordDataExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordDataExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRecordDataExtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordDataByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRecordDataByIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordDataByUCID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UCID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordDataByUCIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRecordDataByUCIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordListByStartRecordTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordListByStartRecordTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecordListByStartRecordTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JsonOtherConditions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecordListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelByExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelByExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChannelByExtResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PauseRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agentlogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentlogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentlogoutResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>